@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background-color: #36d6ad;
  --primary-color: #3772FF;
  --btn-color: #fc7071;
  --font-primary: 'Poppins', sans-serif;
}

/* Estilo geral */

li {
  list-style: none;
}

a, button {
  cursor: pointer;
  border: none;
  background: transparent;
}

.btn__btn-primary {
  cursor: pointer;
  background: var(--btn-color);
  display: inline-block;
  padding: 8px 28px;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  width: 50%;
}

.btn__btn-secondary {
  cursor: pointer;
  display: inline-block;
  padding: 8px 28px;
  border: 2px solid #3772FF;
  color: #737380;
  font-weight: 600;
  border-radius: 10px;
  font-size: 12px;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  padding: 10px ;
  max-width: 100%;
  margin-top: 4px;
  border: 1px solid #737380;
  border-radius: 10px;
  color: #737380;
  font-size: 12px;
}

input::placeholder {
  font-family: var(--font-primary);
  color: #bcbcbc;
  font-size: 12px;
  text-align: center;
}

input:focus {
  outline: 2px solid #36d6ad;
  border: none;
}


.wrapper {
  border: 1px solid transparent;
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 390px;
  height: 290px;
  background: url('./assets/images/Forma\ 1.png')no-repeat;
  background-size: contain;
  z-index: 3;
}

@media (min-width: 600px) {
  .wrapper::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 590px;
    height: 400px;
    background: url('./assets/images/Forma\ 1.png')no-repeat;
    background-size: contain;
    z-index: -2;
  }
} 

.container.background__color::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  z-index: -5;
}

header {
  width: 100%;
  position: relative;
  z-index: 5;
}

.container::after {
  content: '';
  position: absolute;
  top: 200px;
  right: -30px;
  width: 90px;
  height: 415px;
  background: url('./assets/images/Forma\ 2.png')no-repeat;
  background-size: contain;
  z-index: 3;
}

.container {
  width: 100%;
  height: 100%;

}

.container__content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-family: var(--font-primary);
  font-weight: 400;
  gap: 20px;
}

.container__content .text-content {
  color: #3772FF;
  max-width: 60%;
}

.ilustracao1 {
  transform: translateY(20px);
  z-index: -5;
}

.patas::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 415px;
  background: url('./assets/images/Patas.png')no-repeat;
  background-size: contain;
  z-index: 3;
}

.forma3::before {
  content: '';
  position: absolute;
  top: 280px;
  left: 0px;
  width: 90px;
  height: 400px;
  background: url('./assets/images/Forma3.png')no-repeat;
  background-size: contain;
  z-index: -4;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #00cc66 transparent #00cc66 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* nav bar */

.navBar {
  margin: 0 auto;
  margin-bottom: 85px;
  width: 90%;
}

@media (min-width: 600px) {
  .navBar {
    margin-bottom: 110px;
  }
}

.navBar__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  margin-top: 50px;
  width: 100%;
}

.circleIcon {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #36d6ad;
}

.navBar__item {
  cursor: pointer;
}
.navBar__item.pushRight {
  margin-left: auto;
}

.photo-box-navBar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
 
}



.logo {
  height: 24px;
  margin-left: 50px;
}

@media (max-width: 600px) {
  .logo {
    display: none;
  }
}

/* Login */

.input-password {
  display: flex;
  flex-direction: column;
  position: relative;
}

.visibilityIcon {
  cursor: pointer;
  width: 20px;
  position: absolute;
  top: 40px;
  right: 10px;
}

.errorMessage {
  color: #fc7071;
  font-size: 0.6rem;
  align-self: flex-start;
  margin-top: 8px;
}

.text__content {
  color: var(--primary-color);
  font-size: 1rem;
}


/* Home page */

.availablePets {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .availablePets {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}

@media (min-width: 600px) {
  .availablePets {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}

@media (min-width: 1000px) {
  .availablePets {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}


.pet-item {
  display: flex;
  margin-bottom: 16px;
  padding: 16px;
  gap: 16px;
}
.col {
  width: 50%;
  text-align: start;

}
.pet-item__image {
  height: 150px;
  width: 150px;
}

.pet-item__name {
  color: #3772FF;
  font-size: 16px;
}
.pet-item__characters {
  color: #737380;
  font-size: 14px;
  margin-bottom: 30px;
}

.pet-item__location {
  color: #737380;
  font-size: 12px;
}

.pet-item__message {
  color: #737380;
  font-size: 10px;
  display: flex;
  gap: 10px;
}

.pet-item__message.message-icon {
  width: 18px;
  height: 18px;
}

.addPet {
  display: flex;
  gap: 20px;
  text-align: start;
  margin-bottom: 20px;
}

/* Add pet */
.input-pet {
  margin-bottom: 10px;
}
.input-label {
  color: #3772FF;
  align-self: flex-start;
}

.input-pet__localizacao {
  font-family: var(--font-primary);
  color: #737380;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  outline: none;
}
.input-pet__localizacao::placeholder {
  font-family: var(--font-primary);
  color: #bcbcbc;
  font-size: 12px;
}

.input-pet__localizacao:focus {
  border: 2px solid #00cc66
}

.input-file::-webkit-file-upload-button {
  background-color: #fc7071;
  padding: 8px;
  border: none;
  font-family: var(--font-primary);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}


/* Perfil */

.title {
  font-size: 21px;
  line-height: 24px;
  font-weight: 600;
  color: #737380;
}

.change-information-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn_change-informations {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00cc66;
  color: white;
  font-weight: 600;
  transition: opacity 0.4s ease-in;
  margin: 10px 0;
}
.btn_change-informations:hover {
  opacity: 0.5;
}

#profile {
  width: 80%;
}

.profile__photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.photo-box {
  width: 80px;
  height: 80px;
}

.profile__photo {
  width: 80px;
  height: 80px;
}

.input-photo::-webkit-file-upload-button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  visibility: hidden;
}

.input-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  top: 21px;
  cursor: pointer;
  border: none;
}


.photo-info {
  font-size: 12px;
  color: #fc7071;
  line-height: 24px;
}

.input-about, .input-about-active {
  padding: 10px;
  font-family: var(--font-primary);
  color: #737380;
  font-size: 12px;
  border-radius: 15px;
}

.input-name, .input-phone, .input-city, .input-about {
  border: none;
}

.logout__area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn__logout {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fc7071;
  color: white;
  font-weight: 600;
  transition: opacity 0.4s ease;
  border-radius: 15px;
  margin: 12px 0;
}

.btn__logout:hover {
  opacity: 0.6;
}

footer {
  background: var(--background-color);
  text-align: center;
  padding: 40px;
  color: white;
}